.profileLeftAddress {
  position: absolute;
  border: 0 !important;
}

.profileNumber {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.link {
  color: var(--turbo-colors-link);
  text-decoration: underline;
}

.temp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
