.profileLeftAddress {
  position: absolute;
  border: 0 !important;
}

.profileNumber {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.link {
  color: var(--turbo-colors-link);
  text-decoration: underline;
}

.footerBox {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 375px;
}